.list {
  display: grid;
  gap: var(--space-m);

  padding: var(--space-m);
  margin: 0;

  list-style: none;

  &[data-mode="grid"],
  &[data-mode="grid-poster"] {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  &[data-mode="list"] {
    grid-template-columns: 1fr;
  }
}
