.header {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--space-l);

  margin-bottom: var(--space-l);

  .poster {
    width: 30vw;
    height: auto;
    max-height: 400px;

    object-fit: contain;
  }
}

@media (max-width: 768px) {
  .header {
    flex-flow: column nowrap;

    .poster {
      width: 100%;
    }
  }
}
